@import "tailwindcss";

@theme {
  --font-inter: "Inter";
  --font-playfair: "Playfair";
  --color-primary: #f9a21f;
  --color-secondary: #0c2e47;
}

body {
  background-color: #0c0e15;
  color: white;
}

